{
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "plugins": ["react", "import"],
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true
        }
    }
}
