.board {
    width: 100%;
    box-sizing: border-box;
    padding-left: 260px;
    position: relative;
}

.board .add-button {
    width: 45px;
    height: 45px;
    fill: #c5c5c5;
    margin: 25px;
    cursor: pointer;
    border: 1px solid #d7d7d5;
    border-radius: 33px;
    padding: 2px;
}

.board .add-button:hover {
    fill: #aba9a9;
    border-color: #b9b9b9;
}