.board-item {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-bottom: 1px #e7e6e2 solid;
    padding: 15px 25px;
}

.board-item .close-button {
    width: 40px;
    height: 40px;
    fill: #d0d0cf;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 19px;
}

.board-item .close-button:hover {
    fill: #aba9a9;
}