.board {
    width: 100%;
    box-sizing: border-box;
    padding-left: 260px;
    position: relative;
}

.board .add-button {
    width: 45px;
    height: 45px;
    fill: #c5c5c5;
    margin: 25px;
    cursor: pointer;
    border: 1px solid #e8e7e3;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 33px;
    padding: 2px;
}

.board .add-button:hover {
    fill: #aba9a9;
    border-color: #dededd;
    background: white;
}