body, html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f4f3ef;
}

.query-input {
    width: 100%;
    border: 1px #e8e7e3 solid;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight:bold;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
    outline: none;
    background: rgba(255,255,255,0.5);
}

.query-input--active {
    background: white;
}

/*

highlighted tds/columns
background-color: #bcf8dd;
background-color: #afeefe;
background-color: #ffb291;
background-color: #ffefbf;
background: #d5e5a3;

*/