body, html {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f4f3ef;
}

/*

highlighted tds/columns
background-color: #bcf8dd;
background-color: #afeefe;
background-color: #ffb291;
background-color: #ffefbf;
background: #d5e5a3;

*/