.query-input {
    width: 100%;
    border: 1px #e7e6e4 solid;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-weight:bold;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
    outline: none;
    background: rgba(255,255,255,0.8);
}

.query-input--active {
    background: white;
}