.results-table {
    margin: 15px 0 10px 0;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-spacing: 0;
    border-collapse: collapse;
}

.results-table th,
.results-table td {
    padding: 11px 14px;
    text-align: left;
    border: 1px solid #e7e6e4;
    white-space: nowrap;
    max-width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.results-table td.expanded {
    white-space: normal;
    max-width: 400px;
}

.results-table th.semitransparent,
.results-table td.semitransparent {
    color: #646464;
    background: #f4f3ef;
}

.results-table tbody > tr:nth-of-type(2n+1) {
    background: #fbfaf8;
}