.suggestion-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 50px;
    background: white;
    border: 1px #e8e7e3 solid;
    border-top: none;
    box-shadow: 0 5px 8px -8px #000;
    display: inline-block;
    cursor: pointer;
}

.suggestion-list li {
    padding: 0 15px;
}

.suggestion-list li.active {
    background-color: #DCEFFF;
}

.suggestion-list li.with-separator {
    border-bottom: 1px solid #ecebe8;
}